Source: kramden-provision
Section: gnome
Priority: optional
Maintainer: Ken VanDine <ken@vandine.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               meson (>= 0.61),
               gtk-update-icon-cache,
               desktop-file-utils,
Standards-Version: 4.6.0
Homepage: https://github.com/kramden/kramden-provision

Package: kramden-provision
Architecture: all
Depends: gir1.2-adw-1,
         gir1.2-gtk-4.0,
         python3,
         python3-gi,
         python3-psutil,
         kramden-device (= ${binary:Version}),
         ${python3:Depends},
         ${misc:Depends},
Description: Utility for OS Load and Final Test stages
 Utility for OS Load and Final Test stages of the
 refurbishing process.

Package: kramden-device
Architecture: all
Depends: gir1.2-adw-1,
         gir1.2-gtk-4.0,
         python3,
         python3-gi,
         python3-psutil,
         ${python3:Depends},
         ${misc:Depends},
Description: Utility for Kramden Devices
 Device Information for Kramden Devices.
