/* Global font and color settings for readability */
window, label, button, entry, row {
    font-size: 14pt;
    color: white;
}

.button-next-last-page {
    background-color: #FF6347; /* Tomato color */
    color: white; /* Text color */
}

.button-green {
    background-color: #3fe35a; /* Green color */
    color: white; /* Text color */
}

.text-error {
    color: #E95420; /* Text color */
}
